<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>705103949831-ijl3kdomm941q35ume2m45fh7ahk2hhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705103949831-ijl3kdomm941q35ume2m45fh7ahk2hhc</string>
	<key>API_KEY</key>
	<string>AIzaSyDh_AhwthDUO91pA-CxgWhpURj02u42m9U</string>
	<key>GCM_SENDER_ID</key>
	<string>705103949831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Team3.RestPicky</string>
	<key>PROJECT_ID</key>
	<string>restpicky-39f7d</string>
	<key>STORAGE_BUCKET</key>
	<string>restpicky-39f7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705103949831:ios:2d46159e18996967</string>
	<key>DATABASE_URL</key>
	<string>https://restpicky-39f7d.firebaseio.com</string>
</dict>
</plist>